/*==============================
	Global
==============================*/
@font-face {
    font-family: 'latoblack';
    src: url('lato-bla-webfont.eot');
    src: url('lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-bla-webfont.woff') format('woff'),
         url('lato-bla-webfont.ttf') format('truetype'),
         url('lato-bla-webfont.svg#latoblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latohairline';
    src: url('lato-hai-webfont.eot');
    src: url('lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-hai-webfont.woff') format('woff'),
         url('lato-hai-webfont.ttf') format('truetype'),
         url('lato-hai-webfont.svg#latohairline') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('lato-lig-webfont.eot');
    src: url('lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
         url('lato-lig-webfont.woff') format('woff'),
         url('lato-lig-webfont.ttf') format('truetype'),
         url('lato-lig-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*==============================
	Layout
==============================*/
.container {
	margin: 0 auto;
	width: 100%; /* 960px */
	max-width: 100%; /* 960px */
}

article {
	width: 100%; /*960px*/
	padding: 0;
}

header {
	width: 100%; /*960px*/
	padding: 30px 0 0 0;
}

aside {
	width: 96%;
	padding: 30px 0 30px 250px;
}
img {
	width:100%;
}

nav {
	width: 100%;
	}
	
footer {
	background: #666;
	width: 100%;
}

/*==============================
	Typography
==============================*/

h1 {
	font-family: 'latolight', sans-serif;
	font-size: 1.5em; /*24px/16px=1.5em*/
	color: rgba(99,105,105, 1);
}


h2 {
	font-family: 'latolight', sans-serif;
	font-size: 1.5em; /*24px/16px=1.5em*/
	color: rgba(99,105,105, 1);
}


li {
	font-family: 'latohairline', sans-serif;
	display: block;
	font-size: 1.5em; /*24px/16px=1.5em*/
	color: rgba(99,105,105, 1);
}

a {
	font-family: 'latohairline', sans-serif;
	font-size: 1.125em; /*18px/16px=1.125em*/
	text-decoration: none;
	color: rgba(99,105,105, 1);
}

p {
    font-family: 'latohairline', sans-serif;
	font-size: 1.125em; /*18px/16px=1.125em*/
}


/*==============================
	Main Navigation
==============================*/
nav li {
	color: #000;
	float: right;
	padding: 30px 20px 10px 20px;
	}
nav li:nth-child(1) {
	border: solid 3px #999;
	float: left;
	font-size: 2em; /*32px/16px=2em*/
	margin: 20px 0 30px 50px;
	padding: 5px;	
}

nav li:nth-child(2) {
	padding: 30px 50px 10px 20px;
}

a:link {
  color: rgba(99,105,105, 1);
}

a:visited {
 color: #999;
  
}

a:focus {
  background:#000;
}

a:hover {
color: black;
}

nav li:nth-child(1):hover{
	border: solid 3px black;	
}

a:active {
  background: white;
}

ul {
	padding: 0;
}

/*==============================
	header
==============================*/
header h1 {
	text-align: center;
	font-size: 3em; /*48px/16px=3em*/
}

/*==============================
	contact article
==============================*/

form {
	margin: 50px auto;
	width: 33.333333%; /*320px/960=33.333333%*/
	color: grey;
}
textarea {
  width: 33.333333%; /*320px/960=33.333333%*/
  height: 41.666667%; /*400px/960=41.666667%*/
  padding: 10px;
  border-radius: 5px;
  border: 2px solid;
  margin-bottom: 25px;
}

input {
	padding: 10px;
	border-radius: 5px;
	font-size: inherit;
}
input[type="text"] {
	display: block;
	margin-bottom: 25px;
	width: 100%;
	border: 2px solid ;
}

input[type="submit"] {
	width: 35.833333%; /*344px/960=35.833333%*/
	height: 45px;
	border: none;
	background: ;
	color: white;
	cursor: pointer;
}

/* UI Element States Pseudo-Classes */

input[type="text"]:enabled {
	background-color: gray;
}


/*==============================
	work article
==============================*/
 .gallery h1{
 	clear:both;
 }
 .gallery ul{
	 padding: 0 0 0 100px;
 }
 
 .gallery li{
	 float: left;
	 display: block;
}

.gallery li:nth-child(3n+1) {
    clear: both;
    outline: 2px solid pink;
}

.gallery a{
  background: red;
  display: block; /*allows you to adjust height*/
  padding: 10px;
  margin: 10px;
}

/*==============================
	about article
==============================*/
.about article{
	background: red;
}

.about img{
	width: 41.66667%;	
}
/*==============================
	aside
==============================*/
#computer {
	background: url('../img/spritemap.png') no-repeat -1px -1px;
	width:247px;
	height: 247px;
	}
	
#computer:hover {
	background: url('../img/spritemap.png') no-repeat -4px -321px;
	}
#pencil {
	background: url('../img/spritemap.png') no-repeat -1px -647px;
	width:247px;
	height: 247px;
	}
	
#pencil:hover {
	background: url('../img/spritemap.png') no-repeat -4px -994px;
	width:242px;
	height: 241px;
	}
	
#glasses {
	background: url('../img/spritemap.png') no-repeat -3px -1401px;
	width:247px;
	height: 247px;
	}
	
#glasses:hover {
	background: url('../img/spritemap.png') no-repeat -5px -1750px;
	width:242px;
	height: 241px;
	}


aside li{
	float: left;
	display:block;
	padding: 0 50px 0 50px;
	
}

aside:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*==============================
	aside index
==============================*/

 
 
/*==============================
	footer
==============================*/

footer {
	background: rgba(99,105,105, 1);
	padding: 0 0 30px 215px;
}

footer h1{
	color:white;
	padding: 50px 0 50px 445px;
	font-size: 48px;
}

footer li{
	width: 10.416667%;
	padding: 0 50px 0 50px ;
	float: left;
}



footer a:link,
footer a:hover img{
	color: black;
}

footer:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*=============
 large desktop
 ============ */
 
 @media screen and (max-width: 1440px) {
/*==============================
	aside
==============================*/
aside ul {
	padding: 0 0 0 50px;
}
/*==============================
	footer
==============================*/
footer ul {
	padding: 0 0 0 300px;
}
 }
 
/*end of large desktop*/
 
/*=============
 standard desktop
 ============ */
 
 @media screen and (max-width: 960px) {
	/*==============================
	aside
==============================*/


aside li {
	padding: 20px;
}


/*==============================
	footer
==============================*/
footer ul {
	padding: 0 0 0 75px;
}
 }
 
/*end of standard desktop*/
 
/*=============
 tablet
 ============ */
 
 @media screen and (max-width: 768px) {
/*==============================
	aside
==============================*/
aside {
	padding: 0;
}
aside img{
	width: 60%;
}
aside ul {
	padding: 0 0 0 0;
}

aside li {
	padding: 0;
}	
/*==============================
	footer
==============================*/
footer ul {
	padding: 0 0 0 30px;
}
	
 }
 
/*end of tablet*/
 
/*=============
 mobile
 ============ */
 
 @media screen and (max-width: 480px) {
/*==============================
	Main Navigation
==============================*/
nav li {
color: #000;
float: none;
}	

nav li:nth-child(1) {
	margin: 20px 0 30px 85px;	
}	



 }
 
/*end of desktop*/
 


























