@charset "UTF-8";
/* CSS Document */

#bottomlogo {
	padding: 30px 0 0 0;
}

/* NAV Styling */

h2 {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	padding: 27px 0 0 0;		
}

li {
	font-family: 'Lato', sans-serif;
	font-weight:300;
	display: block;	
}

/*button styling*/

h1 {
	font-family: 'Lato', sans-serif;
	font-weight:300;
}

a:hover {
	color: tomato;
}
	
nav li{
	float: left;
	list-style: none;
	padding: 35px 0 0 0;
	font-size: 20px;
}

nav a{
	padding: 10px 10px 10px 40px;
	text-decoration: none;
}

section {
	position: relative;
	z-index:1;	
}

section h1 {
	position: absolute;
	top: 400px;
	left: 105px;
	z-index:2;	
}

h1 + a img:hover {
    opacity: .5; 
}

h1 + a img {
	padding: 50px 0 0 0;
	opacity: .3;
	}

/*sidebar styling*/































